@model CollegeManagement.Web.Models.Major

@{
    ViewData["Title"] = "Edit";
}

<h4 class="text-center"> Update Major</h4>


<form asp-action="Edit" method="post" class="row g-3">
    <input type="hidden" asp-for="Id" />
    <div class="col-md-6">
        <label class="form-label" asp-for="Name"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="col-md-6">
        <label class="form-label" asp-for="Description"></label>
        <span asp-validation-for="Description" class="text-danger"></span>
        <input class="form-control" asp-for="Description" />
    </div>
    <div class="col-12">
        <a class="btn btn-success" href="/majors">Cancel</a>
        <button class="btn btn-warning" type="submit">Update</button>
    </div>


</form>




