@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-3">Welcome to College Management System</h1>
    <img src="/images/College-Management-System.jpg" height="200" />
</div>
