@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@*<!DOCTYPE html>
<html>

<head>
    <title>Students</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
</head>

<body>
    <div class="container">
        <h1>Student List</h1>
        <table class="table table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Student ID</th>
                    <th>Major</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Roshan Twayana</td>
                    <td>123456789</td>
                    <td>Computer Science</td>
                </tr>
                <tr>
                    <td>Nashib Bista</td>
                    <td>987654321</td>
                    <td>Biology</td>
                </tr>
                <tr>
                    <td>Duman Karki</td>
                    <td>246813579</td>
                    <td>Mathematics</td>
                </tr>
                <tr>
                    <td>Abhishek Basnet</td>
                    <td>135792468</td>
                    <td>Psychology</td>
    </tr>
  </tbody>
</>

</body>

</html>*@